@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <user-table></user-table> 
</div>

@section Scripts {
    <script src="https://unpkg.com/vue@next"></script>
    <script src="~/dist/bundle.js"></script>
}
